@import url(./reset.css);

:root{
  --jasper: #dd5347ff;
  --seasalt: #fafafaff;
}

/* My header */
header{
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px #0000001f,inset 0 -1px #dadce0;
}
header figure{
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
header figure img{
  width: 100%;
}
header h1{
  font-size: 2.3rem;
  margin-left: 10px;
  color: #62666B;
  font-weight: 400;
}
header nav{
  position: absolute;
  right: 0;
}
header nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li{
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  transition: .3s ease-in-out;

}
header nav ul li:hover{
  background-color:#d7e7ff;
  transition: .3s ease-in-out;
  border-radius: 5px;
}

header nav ul .create-account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--jasper);
  color: #ffff;
}
header nav ul .create-account-button:hover{
  background-color: var(--jasper);
}
/* Section home */
.section-home{
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../asset/image-accueil2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.section-home p{
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 3rem;
  color: #ffff;
}
.section-home button{
  position: absolute;
  top: 46%;
  left: 5%;
  width: 200px;
  height: 50px;
  background-color: var(--jasper);
  color: #ffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.6rem;
  cursor: pointer;
}
/* Section form */
.section-form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.section-form h2{
  width: 300px;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}
.section-form p{
  width: 350px;
  font-size: 1.3rem;
  text-align: center;
}
/* form */
.section-form form{
  width: 600px;
}
.section-form form fieldset{
  border-radius: 5px;
}
.section-form form legend{
  font-size: 2.3rem;
  font-weight: 300;
}
.section-form form label{
  font-size: 1.3rem;
}
.section-form form input{
  width: 95%;
  height: 30px;
  background-color: #F8F5F5;
  border: solid 1px #d1d0d0 ;
  border-radius: 5px;
}
.section-form form button{
  background-color: #1A73E8;
  color: #ffff;
}